@import "src/scss/variables.scss";

.title-wrapper {
  background-color: $bg-color--primary;

  .h1-title {
    font-size: $font-size--large;
    line-height: normal;
    color: $color--primary;
    margin-left: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &::after {
      height: 44px;
      width: 1px;
      margin-left: 15px;
      content: "";
      border-right: 1px solid $borderColor--primary;
    }
  }
}
