@import "src/scss/variables.scss";

.nav-container {
  padding: 8px 22px;
  margin-left: -22px;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  align-items: center;
}

.nav-container:has(.active-link) {
  background-color: $linkColor;
}

.nav-container > .link {
  color: $linkColor--active;
}

.project-icon {
  width: $iconWidth;
  height: $iconHeight;
}
