@import "src/scss/variables.scss";

.aside-select {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 44px;

  .select-subtitle {
    font-size: $font-size--small;
    line-height: normal;
  }

  .select-arrow {
    width: $iconWidth;
    height: $iconHeight;
    margin-right: 10px;
  }
}
