@import "src/scss/variables.scss";

@mixin connection-line($line-width, $line-height) {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(100% - #{$line-width});
    width: 8px;
    height: 1px;
    background-color: $bg-color--line;
    z-index: 10;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: calc(50% - 1px);
    right: calc(100% + 8px - #{$line-width});
    width: 1px;
    height: $line-height;
    background-color: $bg-color--line;
    z-index: 10;
  }
}

.connection-line1 {
  @include connection-line(15px, 55px);
}

.connection-line2 {
  @include connection-line(32px, 55px + 5);
}

.connection-line3 {
  @include connection-line(49px, 55px + 10);
}

.connection-line4 {
  @include connection-line(63px, 55px + 10);
}

.table {
  .table-info,
  .table-info-title {
    font-size: $font-size--primary;
    line-height: 130%;
    letter-spacing: 0.1px;
    color: $color--primary;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;

    .table-level-container0,
    .table-level-container1,
    .table-level-container2,
    .table-level-container3,
    .table-level-container4 {
      width: 55px;
      height: 28px;
      background-color: $borderColor--primary;
      border-radius: 6px;
      padding: 3px 7px;
      display: flex;
      align-items: center;
      gap: 7px;
      margin-left: -7px;
      position: relative;
    }

    .table-level-container1 {
      margin-left: 9px;
    }

    .table-level-container2 {
      margin-left: 25px;
    }

    .table-level-container3 {
      margin-left: 41px;
    }

    .table-level-container4 {
      margin-left: 57px;
    }
  }

  .table-info {
    padding: 21px 0 21px 12px;
  }

  .table-info:has(.input) {
    padding: 12px 0 12px 12px;
    display: flex;
    gap: 24px;
  }

  .table-info:after,
  .table-info-title:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 10px;
    width: calc(100% - 20px);
    border-bottom: 1px solid $borderColor--primary;
  }
}
