$font-size--primary: 14px;
$font-size--small: 10px;
$font-size--large: 18px;

$bg-color--primary: #27272a;
$bg-color--secondary: #202124;

$color--primary: #fff;
$color--secondary: #a1a1aa;

$linkColor--active: #ffffff;
$linkColor: #a1a1aa;

$inputColor: #71717a;

$errorColor: crimson;

$borderColor--primary: #414144;
$borderColor-link--active: #ffffff;

$iconWidth: 24px;
$iconHeight: 24px;
