@import "src/scss/variables.scss";

.link {
  color: $color--secondary;
  text-decoration: none;
}

.activeLink {
  position: relative;
  text-decoration: none;
  color: $linkColor--active;
}

.decoratedLink:after {
  position: absolute;
  content: "";
  bottom: -14px;
  left: -4px;
  width: 110%;
  border-bottom: 2px solid $borderColor-link--active;
}
